.nb-lounge-user {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nb-lounge-user-bubble {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin-bottom: 4px;
}

.nb-lounge-user-name {
  font-size: 20px;
  color: white;
}