.landing-page {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nb-landing-page-card {
}

.nb-landing-page-card-group {
  position: absolute;
  display: flex;
  gap: 20px;
}


.nb-landing-page-main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.join-room-button {
  background-color: #37C0FB;
  margin-bottom: 20px;
}

.join-room-button:hover {
  box-shadow: 0px 0px 10px #37C0FB;
}

.create-room-button {
  background-color: #FB37AE;
}

.create-room-button:hover {
  box-shadow: 0px 0px 10px #FB37AE;
}

.logo {
  margin-top: 20vh;
  margin-bottom: 80px;
}

.landing-page-signature {
  position: absolute;
  bottom: 10px;
  color: #4E4E4E;
}

.button-container {
  height: 400px;
}