/* NB POKER */
.nb-poker-game {
  position: relative;
  background-color: #0a0a0a;
  height: 100%;
  width: 100%;
  border-radius: 18px;

}

/* NB POKER TABLE */
.nb-poker-table {
  position: absolute;
  box-sizing: border-box;
  width: 550px;
  height: 300px;
  border-radius: 400px;
  background-color: #281A33;
  left: 225px;
  top: 60px;
  border: 6px solid #4D3859;
  box-shadow: inset 0px 0px 30px rgba(0, 0, 0, 0.5),
  0 0 0 20px #806293;
}

.nb-poker-table-status {
  position: absolute;
  height: 100px;
  width: 200px;
  left: 180px;
  top: 10px;
  display: flex;
  padding-top: 10px;
  gap: 10px;
}

.nb-poker-table-status-left {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: #00C2EA;
  font-size: 20px;
}

.nb-poker-table-status-right {
  display: flex;
  flex-direction: column;
  font-size: 20px;
}

.nb-poker-table-status-right span:nth-of-type(1) {
  color: #46FF28;
}

.nb-poker-table-status-right span:nth-of-type(2) {
  color: #FB37AE;
}

.nb-poker-table-cards {
  display: flex;
  position: absolute;
  width: 300px;
  left: 120px;
  top: 120px;
}

.nb-poker-table-board-card {
  height: 80px;
  width: 60px;
}

/* NB USER HUD */
.nb-user-hud {
  position: absolute;
  width: 500px;
  height: 230px;
  bottom: 0px;
  left: 250px;
  display: flex;
  justify-content: center;
}

/* NB USER HUD CENTER */
.nb-user-hud-center {
  display: flex;
  flex-direction: column;
}

.nb-user-hud-cards {
  display: flex;
  justify-content: center;
}

.nb-player-card {
  margin: -10px 2px 0 2px;
  height: 130px;
}

.nb-user-hud-info {
  width: 240px;
  height: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-top: 10px;
  line-height: 40px;
  text-align: center;
  overflow: hidden;
  color: white;
}

.nb-user-hud-info-money {
  font-size: 30px;
  color: #46FF28;
  text-shadow: 0px 0px 4px #7FDB70;
}

.nb-user-hud-info-name {
  font-size: 24px;
  display: inline;
  text-overflow: ellipsis;
}

/* NB USER HUD LEFT */
.nb-user-hud-left {
  display: flex;
  width: 200px;
  padding-top: 30px;
  justify-content: center;
}
.nb-user-hud-left-btn {
  background-color: #414141;
  width: 130px;
  letter-spacing: 1px;
  color: white;
  font-size: 20px;
}

/* NB USER HUD RIGHT */
.nb-user-hud-right {
  width: 200px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  padding-top: 30px;
}
.nb-user-hud-right-btn {
  background-color: #4D3859;
  width: 130px;
  color: white;
  letter-spacing: 1px;
  font-size: 20px;
}


/* NB OTHER PLAYERS */

.nb-players {
  box-sizing: border-box;
  position: absolute;
  left: 20px;
  width: 960px;
  height: 500px;
}

.nb-other-player-container {
  position: absolute;
  display: flex;
  width: 300px;
  height: 100px;
  align-items: center;
  justify-content: space-between;
}

.nb-other-player-hand {
  display: flex;
}

.nb-other-player-hand img {
  height: 80px;
  width: 40px;
}

.nb-other-player-container:nth-of-type(1) {
  top: 20px;
  left: 30px;
}

.nb-other-player-container:nth-of-type(2) {
  top: 160px;
}

.nb-other-player-container:nth-of-type(3) {
  top: 300px;
  left: 30px;
}

.nb-other-player-container:nth-of-type(4) {
  top: 20px;
  right: 30px;
  flex-direction: row-reverse;
}

.nb-other-player-container:nth-of-type(5) {
  top: 160px;
  right: 0px;
  flex-direction: row-reverse;
}

.nb-other-player-container:nth-of-type(6) {
  top: 300px;
  right: 30px;
  flex-direction: row-reverse;
}