.nb-modal {
  position: relative;
  opacity: 0;
  animation: fadeIn .3s ease forwards;
  margin-top: -30px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.nb-modal-exit {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: white;
  border: none;
  background-color: transparent;
  font-weight: bolder;
  font-size: 24px;
  font-style: oblique;
}